<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParallelExecutionSuite" parallel="classes" thread-count="1">
    <listeners>
        <listener class-name="CommonMethods.ExtentReportListeners" />
        <listener class-name="CommonMethods.TestRetryAnalyzerListener" />

    </listeners>
    <!-- Parallel execution across multiple test classes -->
    <test name="ParallelTest1">
        <classes>
            <!-- First test class to run -->
            <class name="Testcase.LoginPageTest"/>

        </classes>
    </test>

<!--    <test name="ParallelTest2">-->
<!--        <classes>-->
<!--            <class name="Testcase.LoginPageTest"/>-->
<!--        </classes>-->
<!--    </test>-->



</suite>
